* {
	box-sizing: border-box;
}

.container {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

/*.body {
	width: 100%;
	margin: 0;
	background: #25343F;
  	color: #fff;
  	font-family: 'Raleway', sans-serif;
}
*/

.body {
	width: 100%;
	margin: 0;
	background: #e6e6e6;
  	color: black;
  	font-family: 'Roboto', sans-serif;
}

.header {
	height: 7em;
	border: 10px;
	padding: 5px;
	background-color: #ffffff;
}

.post-header {
	height: 0.3em;
	background-color: white;
}

.logo {
	width: 350px;
	height: auto;
	float:left;
	padding-left: 25px;
}

.contact {
	float:right;
	list-style: none;
	padding-right: 55px;
	padding-top: 40px;
	font-size: 1.4em;
}

@media (max-width: 500px) {
	.logo, .contact {
		float: none;
		display: block;
		padding-top: 0em;
	}
}

@media (max-width: 500px) {
	.header {
		height: 9em;
	}
}

@media (max-width: 500px) {
	.contact {
		padding-left: 3em;
		text-align: center;
	}
}

.fa {
	padding-right: 6px;
    color: #286AB1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #306eb1;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.2s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}

.main-content {
	padding-top: 3em;
}

h2, .h2 {
	font-size: 1.9rem;
}

@media (max-width: 500px) {
	.mobile-hide {
		display: none !important;}
	
}

.cta {
	background-color: #306eb1;
	border: solid 2px white;
}

.cta-title {
	color: white;
	font-size: 1.5em; 
	text-align: center;
    padding-top: 14px;
    letter-spacing: 0.1em;
}

/*.form {
	padding-top: 15px;
	padding-bottom: 35px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #e6e6e6;
	color: black;
}
*/
.form {
	padding-top: 15px;
	padding-bottom: 35px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #25343F;
	color: white;
}

.call-back {
	padding-top: 0;
}

.container-fluid {
	padding: 0%;
}

nav ul {
	height:5em;
	background-color: #306eb1;
	/*border-bottom: 0.3em solid white;*/
	border-top: 0.3em solid white;
}

.nav li {
	display: inline-block;
	padding-top: 2em;
	color: white;
	padding-right: 0.9em;
	padding-left: 0.9em;
}

.embed-responsive-item {
	transform: scale(1.05);
}

footer {
	background-color: #306eb1;
	height: 7em;
}

.pre-footer {
	height: 0.3em;
	background-color: white;

}

